.container { 
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr .35fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    ". . ."
    "PRJCT PRJCT PRJCT"
    "PRJCT PRJCT PRJCT"
    "SKILLS SKILLS SKILLS"
    "MOREME MOREME MOREME";
  
}



.ABOUT { 
  font-family: "adelle", serif;
  font-weight: 400;
  font-style: italic;
  grid-area: ABOUT;
  display: flex;
  color: #353535;
  text-align: right;
  font-size: 3vw;
  margin-top: 4vw;
  padding: 2vw 2vw 0 7.5vw;
  flex-direction: row;
}

.ABOUTtitle {
  font-family: gtPressura;
  font-style: normal;
  color: white;
  font-size: 1.5vw;
}

.ABOUTtitle > h1 {
  margin: 0;
}

.ABOUTmain {
  display: flex;
  flex-direction: column;
  padding-right: 4vw;
}

.ABOUTmain > p {
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: start;
  font-size: 3.25vw;
  padding-left: 15vw;
  margin: 0;
}

.ABOUTimg > img {
  width: 30vw;
  /* border-radius: 8px; */
  box-shadow: rgba(40, 40, 40, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.PRJCT { 
  grid-area: PRJCT; 
  display: flex;
}

.PRJCT > h1 {
  font-family: gtPressura;
  font-size: 3.5vw;
  display: flex;
  padding-left: 2vw;
  margin: 0;
}

.SKILLS { 
  grid-area: SKILLS; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10vw;
}

/* .MOREME { 
  grid-area: MOREME; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10vw;
} */

@media (max-width: 1080px) {
  .container { 
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 1fr .25fr .1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "ABOUT"
      "PRJCT"
      "PRJCT"
      "SKILLS"
      "MOREME";
  }

  .ABOUT { 
    font-family: "adelle", serif;
    font-weight: 400;
    font-style: italic;
    grid-area: ABOUT;
    display: flex;
    color: #353535;
    text-align: right;
    font-size: 3vw;
    margin-top: 4vw;
    padding: 2vw 2vw 0 7.5vw;
    flex-direction: row-reverse;
  }
  
  .ABOUTtitle {
    font-family: gtPressura;
    font-style: normal;
    color: white;
    font-size: 3.5vw;
  }
  
  .ABOUTtitle > h1 {
    margin: 0;
  }
  
  .ABOUTmain {
    display: flex;
    flex-direction: column;
    padding-right: 4vw;
  }
  
  .ABOUTmain > p {
    align-self: start;
    font-size: 5.25vw;
    padding-left: 15vw;
    margin: 0;
  }
  
  .ABOUTimg {
    display: none;
  }
}