.thngsCntnr {
  width: 100vw;
}

.thngsTitle{
  font-family: gtPressura;
  text-align: center;
  align-items: center;
  font-size: 1.5vw;
  padding-left: 2vw;
  padding-top: 2.5vw;
}

.thngsTitle > h1 {
  margin: 0;
}

