.shoe {
  display: flex;
  justify-content: right;
}

.links {
  border-radius: 25px 0 0 0 ;
  width: 9vw;
  font-family: gtPessura;
  padding-right: 1.5vw;
  align-items: end;
  text-align: right;
  font-size: 2vw;
  background: #2b3a2b;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.links > p {
  font-family: gtPressura;
  margin: 0;
}