@font-face {
  font-family: gtPressura;
  src: url('./assets/fonts/GT-Pressura-Trial-VF.woff2') format('woff2');
}

:root {
  background: #151515;
  text-align: center;
  scrollbar-width: none;
  cursor: url(/crosscurs.png), auto;
}

body {
  margin: 0;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

::-webkit-scrollbar{
  display: none;
  width: 0px;
}